{{ define "about/index.html" }}
{{ template "header/index.html" . }}
{{ template "root/lnav.html" . }}

<div class="col-sm-7">

    <h1>关于</h1>
    <p>欢迎来到物联网在线问答社区！我们是一个致力于为物联网爱好者和专业人士提供交流和学习平台的在线社区。无论您是刚入门的新手还是经验丰富的专家，我们都欢迎您的加入！</p>

    <h2>我们的使命</h2>
    <p>我们的使命是为物联网领域的学习者和从业者提供一个开放、包容的交流平台，让他们可以分享知识、解决问题、交流经验，共同推动物联网技术的发展和应用。</p>

    <h2>核心功能</h2>
    <ul>
        <li><strong>问答社区：</strong>在这里，您可以提出您在物联网领域遇到的问题，也可以分享您的经验和见解，帮助他人解决问题。</li>
        <li><strong>博客文章：</strong>发表您的物联网技术文章，分享您的研究成果和实践经验，与社区成员交流学习。</li>
        <li><strong>话题讨论：</strong>参与各种话题讨论，与其他物联网爱好者和专家一起探讨行业趋势、技术挑战和解决方案。</li>
    </ul>



    <h2>我们的承诺</h2>
    <p>我们致力于为您提供一个良好的学习和交流环境，保护您的隐私和数据安全，让您可以自由地表达和分享。如果您对我们的社区有任何建议或意见，欢迎随时联系我们！</p>

    <p>感谢您的支持和参与！</p>
</div>
{{ template "root/rnav.html" }}
<!--分页-->
<!-- <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);"><</a></li>
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);">3</a></li>
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);">......</a></li>
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);">100</a></li>
    <li class="page-item"><a class="page-link"
        href="javascript:void(0);">></a></li>

  </ul> -->
{{ template "root/fooer.html"}}

{{ end }}