{{ define "admin/all_user.html" }}
{{ template "header/index.html" .}}
{{ template "admin/lnav.html" .}}
<div class="col-sm-7">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            {{ range .users }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Username }}</td>
                <td>{{ .Email }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ template "root/rnav.html" }}

<script>
    // 提交表单
    $(document).ready(function () {
        $("#submit").click(function () {
            if (validateForm() == false) {
                return
            }
            $.post("/article/create_category", {
                Category: $("#category_name").val(),
            },
                function (data, status, jqXHR) {
                    if (jqXHR.status == 200) {
                        alert(data);
                        location.href = "/admin/create_category.html"
                        return
                    }
                    alert("未知错误：", jqXHR.status)

                });
        });
    });

    // 验证表单是否为空
    function validateForm() {
        // 检查版块是否为空
        if ($("#category_name").val() === "") {
            alert("请输入文章版块");
            return false;
        }

        // 如果所有条件满足，返回 true
        return true;
    }
</script>
{{ end }}