{{define "admin/lnav.html"}}
<div class="col-sm-2">
    <h2></h2>
    <div class="fakeimg" style="display: inline-block;"><img width="30%" class="img-fluid" src="/static/img/zorro.svg"
            alt="img"> <span style="font-size: 21px;margin-left: 10%;"> {{ if .authInfo.Username
            }}
            {{ .authInfo.Username }}
            {{ else }}
            访客
            {{ end }}</span>

    </div>
    <p>在这个纷繁复杂的网络世界里，您如一位优雅的贵宾</p>
    <ul class="nav nav-pills text-center flex-column">

        <!--登录框-->
        {{ if eq .authInfo.Identify "nologin" }}
        <li class="nav-item">
            <a class="nav-link "><!-- 打开登录框 -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    登录/注册
                </button>

                <!-- 模态框 -->
                <div class="modal fade text-left" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">欢迎登录</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <form action class="was-validated">
                                    <div class="form-group">
                                        <label for="login_name">用户名</label>
                                        <input type="text" class="form-control" id="login_name" name="uname" required>

                                        <div class="invalid-feedback">请输入用户名</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="login_pass">密码:</label>
                                        <input type="password" class="form-control" id="login_pass"
                                            placeholder="Enter password" name="pswd" required>

                                        <div class="invalid-feedback">请输入密码</div>
                                    </div>

                                </form>
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" id="login" class="btn btn-primary">登录</button>

                                <!--注册逻辑-->
                                <!-- 按钮：用于打开模态框 -->
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                    data-target="#myModal1">
                                    注册
                                </button>

                                <!-- 模态框 -->
                                <div class="modal fade" id="myModal1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- 模态框头部 -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">物联网知识在线问答平台注册</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- 模态框主体 -->
                                            <div class="modal-body">
                                                <form action class="was-validated">
                                                    <div class="form-group">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="register_email">邮箱</label>
                                                        <input type="text" class="form-control" id="register_email"
                                                            required>

                                                        <div class="invalid-feedback">请输入邮箱</div>
                                                    </div>
                                                    <label for="register_name">用户名</label>
                                                    <input type="text" class="form-control" id="register_name"
                                                        name="uname" required>

                                                    <div class="invalid-feedback">请输入用户名</div>

                                                    <div class="form-group">
                                                        <label for="register_pass">密码:</label>
                                                        <input type="password" class="form-control" id="register_pass"
                                                            placeholder name="pswd" required>

                                                        <div class="invalid-feedback">请输入密码</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="register_key">邀请码:</label>
                                                        <input type="text" class="form-control" id="register_key"
                                                            placeholder name="inviteCode" required>

                                                        <div class="invalid-feedback">请输入邀请码</div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- 模态框底部 -->
                                            <div class="modal-footer">
                                                <button type="button" id="register" class="btn btn-primary">注册</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </li>
        {{ end }}


        {{ if eq .authInfo.Identify "admin" }}
        <!--管理操作-->
        <li class="nav-item" style="margin-top: 10px;">

            <div class="dropdown">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    管理操作
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/admin/create_category.html">创建版块</a>
                    <a class="dropdown-item " href="/admin/del_category.html">删除版块</a>

                </div>
            </div>
        </li>
        {{ end }}


    </ul>
    <hr class="d-sm-none">
</div>
<script>
    // 提交表单
    $(document).ready(function () {
        $("#register").click(function () {
            if (validateForm() == false) {
                return
            }
            $.post("/register", {
                Username: $("#register_name").val(),
                Password: $("#register_pass").val(),
                Email: $("#register_email").val(),
                Key: $("#register_key").val()

            },
                function (data, status, jqXHR) {
                    if (jqXHR.status == 200) {
                        alert(data);
                        location.href = "/";
                        return
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // 处理请求失败的情况
                    alert(jqXHR.responseText);
                });
        });
    });

    // 验证表单是否为空
    function validateForm() {
        // 检查标题是否为空
        if ($("#register_email").val() === "") {
            alert("请输入邮件号");
            return false;
        }

        // 检查版块是否为空
        if ($("#register_name").val() === "") {
            alert("请输入用户名");
            return false;
        }

        // 检查内容是否为空
        if ($("#register_pass").val() === "") {
            alert("请输入密码");
            return false;
        }

        if ($("#register_key").val() === "") {
            alert("请输入邀请码");
            return false;
        }

        // 如果所有条件满足，返回 true
        return true;
    }
</script>

<!--登录-->
<script>
    $(document).ready(function () {
        $("#login").click(function () {
            if (validateLoginForm() == false) {
                return
            }
            $.post("/login", {
                Username: $("#login_name").val(),
                Password: $("#login_pass").val(),
            },
                function (data, status, jqXHR) {
                    if (jqXHR.status == 200) {
                        alert(data);
                        location.href = "/";
                        return
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // 处理请求失败的情况
                    alert(jqXHR.responseText);
                });
        });
    });

    // 验证表单是否为空
    function validateLoginForm() {
        // // 检查标题是否为空
        // if ($("#register_email").val() === "") {
        //     alert("请输入邮件号");
        //     return false;
        // }

        // 检查版块是否为空
        if ($("#login_name").val() === "") {
            alert("请输入用户名");
            return false;
        }

        // 检查内容是否为空
        if ($("#login_pass").val() === "") {
            alert("请输入密码");
            return false;
        }

        // if ($("#register_key").val() === "") {
        //     alert("请输入邀请码");
        //     return false;
        // }

        // 如果所有条件满足，返回 true
        return true;
    }
</script>
{{end}}